@import "normalize.css";

@tailwind components;
@tailwind utilities;
/* have loaded base styles from preflight.css https://github.com/tailwindlabs/tailwindcss/blob/master/src/css/preflight.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, textarea {
  box-sizing: border-box;
}

.wrapper {
  @apply flex flex-col items-center bg-[white] rounded-[60px] xl:text-3xl sm:text-2xl;
}

.input {
  @apply placeholder:italic bg-white border border-slate-300 rounded-md py-2 pl-2 drop-shadow-md
  focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm
}
.invalid {
  @apply border-pink-500 ring-pink-500;
}

.text-gradient {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 85%, rgba(250,240,215,1) 100%);
}

.interactive-button {
  @apply flex justify-center cursor-pointer transition-colors
  active:bg-active
  hover:bg-hover p-[8px] drop-shadow-md;
}

.login-button {
  @apply interactive-button
  transition-colors cursor-pointer flex
  w-[80px] xl:w-[200px] md:w-[120px] sm:w-[100px]
  h-[30px] xl:h-[60px]
  text-xs md:text-lg xl:text-2xl
  items-center justify-center border border-solid
}

.github-logo {
  position: relative;
}
.github-logo::before {
  content: "";
  background-image: url("assets/github-mark.svg");
  background-size: 20px 20px;
  position: absolute;
  left: -25px;
  top: 10px;
  object-fit: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.github-logo::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.github-logo:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.auth-proposal {
  @apply text-xs md:text-lg xl:text-2xl
  min-[450px]:w-[60%] sm:items-center
  w-[80%] xl:w-[30%] md:w-[40%] md:items-center
}


.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}